* {
  margin: 0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #B2BEB5;
  height: 60px;
  place-items: center;
}

.navlink{
  display: flex;
  justify-content: space-evenly;
  word-spacing: 10px;
}

.link{
  text-decoration: none;
  font-size: large;
  font-weight: 400;
  color: white;
  margin-left: 80px;
  padding: 10px;
}

.active{
  color: blue;
}

.active:hover{
  background-color: black;
}